default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: app_development
  username: postgres
  password: password
  host: db

test:
  <<: *default
  database: app_test
  username: postgres
  password: password
  host: db

production:
  <<: *default
  url: <%= ENV["DATABASE_URL"] %>
